@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background: #345;
}

/*.rad,
.line,
.box {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}*/


.box {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  position: absolute;;
  width: 401px;
  height: 0px;
  top: 30px;
  background-color: rgba(20, 18, 38, 0.46) ;

  /*background-color: rgb(28, 24, 82) ;*/

    font: 1em 'Open Sans';
  text-align: center;
  line-height: 30px;
  color: #fafcff;
  overflow: hidden;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.boxopen {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  position: absolute;;
  width: 401px;
  top: 30px;
  background-color: rgba(28, 24, 82,0.5) ;

  /*background-color: rgb(28, 24, 82) ;*/

  font: 1em 'Open Sans';
  text-align: center;
  line-height: 30px;
  color: #fafcff;
  overflow: hidden;

  height: 30px;
  height: auto;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.link{
  font-family: 'Open Sans';
  text-decoration: none;
  font-size: 20;
  color: rgb(197, 204, 204);
}
